body {
	height: 500px;
}

#banner {
	height: 100px;
	background-color: azure;
}
#container {
	margin: 0 auto;
	width: 1024px;
	height: 3300px;
}
.contact {
	text-align: right;
}
#contact-info{
	float: right;
}
.header {
	display: inline-block;
	font-weight: bold;
}
.item {
	width: 100%;
}
.item-description {
	margin-left: 15px;
}
.row {
	height: 20%;
	border-bottom: 1px solid;
}
.row-content {
	display: inline-block;
	width: 75%;
	padding: 5px;
}
.right-column {
	float: left;
	width: 15%;
}
.label {
	width: 20%;
	text-align: right;
	padding-right: 10px;
	border-right: solid 1px black;
	float: left;
}
.left-column {
	float: left;
	width: 85%;
}
#name {
	font-size: 42px;
}
#personal {
	float: left;
	margin-left: 24px;

}
.time {
	float: right;
	font-weight: bold;
}
